.navbar {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
  }
}

body {
  background: lightgrey;
}

a {
  // text-decoration: none;
  color: black;
  // text-shadow: 1px 1px 15px hsla(210, 5%, 15%, 0.15);
  transition: all 500ms;
}

.logo-image img {
  width: 88px;
}

.navbar-item {
  color: black;
}

.content {
  border: 1px solid #eaecee;
  padding: 2em 4em;
}
